

.body{
    background-attachment: fixed;
    background: url('https://p4.wallpaperbetter.com/wallpaper/317/15/784/minimal-4k-fox-illustration-wallpaper-preview.jpg') !important; 
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 4%;
}



.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}


.corrected {
  margin: 15px;
}

.donete {
  background-size: auto;
  background-repeat: no-repeat;
  width: max-content;
  text-decoration: line-through;
}